---
layout: default
---
<article>
    <header class="vcard">
        {% include vcard.html %}
    </header>
    <section id="about-me">
        <header>
            <h2><a href="#about-me">Who I Am</a></h2>
        </header>
        <p>
            I spend most of my time unraveling spaghetti. Not the delicious kind. I break down big problems into
            tiny machines, and then I make those machines churn through data.
        </p>
        <p>
            I started writing code as a teenager, and I never quite figured out how to stop.
        </p>
    </section>
    <section id="#experience">
        <header>
            <h2><a href="#experience">What I've Done</a></h2>
        </header>
        <ol>

        {% for experiences in site.experience %}
        <li>
            {% include experience.html experience=experience %}
        </li>
        {% endfor %}
        </ol>
    </section>

</article>