<h1 class="fn">Jason Cordial</h1>
<span class="title">Software Engineer</span>
<div class="email">
    <a class="value" href="mailto:jpcordial@gmail.com">jpcordial@gmail.com</a>
</div>
<address class="adr">
    <span class="type">Home</span>
    <span class="locality">Indianapolis</span>, <span class="region">IN</span>
    <span class="postal-code">46201</span>
    <span class="country-name">United States of America</span>
</address>
<a href="tel://13178008735" class="tel">
    <span class="type">Home</span> <span class="value">317.800.8735</span>
</a>
<time class="rev" datetime="{{ 'now' | date: " %Y" }}">{{ 'now' | date: "%Y" }}</time>
